.App {
  text-align: center;
  background-color: antiquewhite;
}

.imgStyle {
  width: 50%;
  height: 50%;
}

.buttonStyle {
  width: 10%;
  height: 10%;
}

.inputStyle {
  width: 20%;
  height: 20%;
  text-align: center;
}

.headStyle {
  text-align: center;
  color: rgb(165, 26, 79);
}
